@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global reset and font */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body holds the background image */
body {
    display: flex;
    background-image: url('../media/img/background.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

/* Sidebar */
.sidebar {
    width: 200px;
    height: 100vh;
    background: #242424;
    padding: 10px; 
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.logo a {
    margin-top: 10px;
    height: 100%;
    display: inline-block;
}

/* Logo inside the sidebar */
.logo img {
    margin-top: 15px;
    margin-left: 43px;
    width: 50%;
}

/* Menu holds the navigation links */
.menu {
    margin-top: 30px;
    list-style: none;
    font-size: 30px;
    padding: 0;
    width: 100%; 
}

/* Each menu item */
.menu li {
    width: 100%; 
    text-align: center; 
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 6px;
    transition: background 0.3s ease;
}

/* Links inside menu items */
.menu li a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 10px;
    font-size: 14px;
}

/* Active and hovered menu item */
.menu li.active,
.menu li:hover {
    background: #C87C8E;
    color: #000000;
}








/* Main content holds everything outside the sidebar */
.main-content {
    flex: 1;
    padding: 20px;
    color: #ffffff;
    opacity: 0;
    transform: translateY(-50px); 
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}


/* Show main content when class is added */
.main-content.show {
    opacity: 1;
    transform: translateY(0);
}

/* Dashboard section */
.dashboard {
    margin-top: 0px;
}

/* Dashboard title */
.dashboard-title {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

/* Stats section holding dashboard cards */
.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
}

/* button for dashboard user */
.card a {
    text-decoration: none;
    color: inherit; 
}

/* Card holds user stats and categories */
.card {
    background: #242424;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Card holds user stats and categories */
.card div{
    padding: 10px;
}

/* Card hover effect */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(109, 227, 243, 0.3);
}

/* Card text */
.card p {
    font-size: 16px;
    color: #C87C8E;
    font-weight: 500;
}

/* Card numbers */
.card h2 {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
}

/* Empty card styling */
.card.empty {
    background: #1b9a4e;
    opacity: 0.2;
}

